{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numero de reservation</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Cout</th>
                <td>{{ reservation.cout }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reservation.date }}</td>
            </tr>
            <tr>
                <th>HeureDebut</th>
                <td>{{ reservation.heureDebut }}</td>
            </tr>
            <tr>
                <th>HeureFin</th>
                <td>{{ reservation.heureFin }}</td>
            </tr>
            <tr>
                <th>NombrePlaceReservees</th>
                <td>{{ reservation.nombrePlaceReservees }}</td>
            </tr>
            <tr>
                <th>Nom de l'espace</th>
                <td>{{ reservation.idEspace }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">Retour</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
