{% extends 'base.html.twig' %}


{% block body %}

{{ form_start(vueFormulaire, {'attr':{"novalidate":"novalidate"}})}}

<p> Choisir la date  : </p>
{{ form_row(vueFormulaire.date)}}

<p> De :</p>
{{ form_row(vueFormulaire.heureDebut)}}

<p> A :</p>
{{ form_row(vueFormulaire.heureFin)}}

<p> Combien de place à reserver ?</p>
{{ form_row(vueFormulaire.nombrePlaceReservees)}}

<button type="submit" class="btn btn-dark">Reserver</button>
{{ form_end(vueFormulaire) }}

{% endblock %}
{% block footer %}
{% endblock %}