{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<center>


<form action={{path('modifierProfil')}} method="get">
<button type="submit">Modifier une réservation</button>
</form>
<br>
<form action={{path('Accueil')}} method="get">
<button type="submit">Annuler une réservation</button>
</form>
<br>
<form action={{path('Accueil')}} method="get">
<button type="submit">Consulter factures reçues</button>
</form>
<br>
<form action={{path('Accueil')}} method="get">
<button type="submit">Modifier mon profil</button>
</form>
<br>
</form>
<form action={{path('ajoutEspace')}} method="get">
<button type="submit">Ajouter un espace</button>
</form>
<br>

{% if is_granted ('ROLE_USER') %}
    <form action={{path('app_logout')}} method="get">
    <button type="submit">Deconnexion</button>
    </form>
    <br>
{% else %}
    <form action={{path('app_login')}} method="get">
    <button type="submit">Connexion</button>
    </form>
    <br>
{% endif %}

</center>

<script>

</script>

{% endblock %}
