{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="list">
            {% for coworking in espaceDeCoworking %}
                <div class="item js-marker" data.lat="{{coworking.lat}}" data.lng="{{coworking.longitude}}" data-price={{coworking.prix}}>
                <img src="https://via.placeholder.com/400x260" alt="">
                <h4> {{coworking.titre}} </h4>
                <p>
                    {{coworking.prix}}
                    {{coworking.cafe}}
                    {{coworking.adresse}}
                    {{coworking.descriptif}}
                    {{coworking.heureOuverture}}
                    {{coworking.heureFermeture}}


                </p>
            {% endfor %}
        </div>
    </div>

    <div class="map" id="map"></div>


{% endblock %}