{% extends 'base.html.twig' %}

{% block title %}Paiement index{% endblock %}

{% block body %}
    <h1>Paiement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>NumeroCarte</th>
                <th>DateExpi</th>
                <th>CVV</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paiement in paiements %}
            <tr>
                <td>{{ paiement.id }}</td>
                <td>{{ paiement.Nom }}</td>
                <td>{{ paiement.NumeroCarte }}</td>
                <td>{{ paiement.DateExpi ? paiement.DateExpi|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ paiement.CVV }}</td>
                <td>
                    <a href="{{ path('app_paiement_show', {'id': paiement.id}) }}">show</a>
                    <a href="{{ path('app_paiement_edit', {'id': paiement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_paiement_new') }}">Create new</a>
{% endblock %}
